<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Blog</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="wrapper">
        <div class="top">
            <div class="title"><h1>My Blog</h1></div>
        </div>
        {% for all_blog in posts %}
            <div class="content">
                <div class="card">
                    <h2>{{ all_blog['title'] }}</h2>
                    <p class="text">{{ all_blog['subtitle'] }}</p>
                    <a href="{{ url_for('post', num=all_blog['id']) }}">Read</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <footer>
        <p>Made with ♥️ in Addis Ababa by Eyob.</p>
    </footer>
</body>
</html>